<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>escaner</title>
    <script defer   src="./scripts/clases.js"></script>
    <script defer   src="./scripts/quagga.js"></script>
    <script defer   src="./scripts/scanner.js"></script>

    <style>
        /* In order to place the tracking correctly */
        canvas.drawing, canvas.drawingBuffer {
            position: absolute;
            left: 0;
            top: 0;
        }
    </style>

    
</head>
<body>

<button id="comenzar">comenzar</button>
    <div    id="scanner-container"></div>
    <select style="margin-top: 50px;"  id="select" name="select"></select>
    <input style="margin-top: 50px;" id="linterna" type="button" value="torch">

 
</body>
</html>