<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Gestion del hogar</title>
   <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
   <link
    rel="stylesheet"
    href="./mis-estilos/animate.css"
  />
   <link rel="stylesheet" href="./mis-estilos/main-styles.css">
  
  <script defer   src="./scripts/animate.js"></script>
  <script defer   src="./scripts/motor-index.js"></script>
</head>
<body>
   
   <div class="content-cabecera">
        <div class="content-menu">
            <img    src="./complementos/imagenes/menu.png" alt="" srcset="">
        </div>
<div class="buttons-box">
    <div id="ingresar"   class="content-ingreso">
        <img    src="./complementos/imagenes/ingreso.png" alt="" srcset="">   
    </div>
    <div class="content-egreso">
        <img    src="./complementos/imagenes/Egreso.png" alt="" srcset="">
    </div>
    <div class="content-stock">
        <img    src="./complementos/imagenes/stock.png" alt="" srcset="">
    </div>
</div>
        </div>
 <main>
            <div class="content-habitacion">
                <div class="content-alacena">
                    <img height="115px"   src="./complementos/imagenes/alacena.png" alt="" srcset="">
                </div>
 
                <div class="content-heladera">
                    <img src="./complementos/imagenes/heladeraRosa.png" alt="">
                </div>

                <div class="content-puerta">
                    <img src="./complementos/imagenes/puerta.png" alt="">
                </div>
</div>
        </main>
</body>
</html>
